  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css"rel="stylesheet" href="css/ToDo list.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper blue-grey darken-2 black-text">
                    <a href="#" class="brand-logo">Hi</a>
                    <ul class="right">
                        <li><a href="index.html">home</a></li>
                        <li><a href="sign in.html">sign in</a></li>
                    </ul>
            </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">to do list</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        
<table>
        <thead>
          <tr>
              <th data-field="id">Creator</th>
              <th data-field="name">Item</th>
              <th data-field="price">Date</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>buy bread</td>
            <td>4/10/16</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>sell Jellybean</td>
            <td>4/10/16</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>make Lollipops</td>
            <td>4/10/16</td>
          </tr>
        </tbody>
      </table>
        
        
        
        
        <footer class="page-footer blue-grey black-text darken-1">
            <div class="container">
                <p><a href="#" green>Back to the top of the page</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 sharif 
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/ToDo list.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="welcome-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="task-post">
                <h2 class="task-post-title">{{title}}<h2>
                <p class="task-post-meta">At {{format created}} by {{authorEmail}}</p>
                <div>{{content}}</div>}
            </div>
         {{/each}}
    </body>
  </html>
  
                    
                    

            