  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/ToDo list.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header class="blue-grey darken-2 black-text">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">to do list</a>
                    <ul class="right">
                        <li><a href="index.html">home</a></li>
                        <li><a href="sign in.html">sign in</a></li>
                    </ul>
            </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">to do list</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        
      <!--Import jQuery before materialize.js-->
      
      
      <script id="login-template" type="text/x-handlebars-template">
          
      </script>
      <div class="col s6">
          <h2 class="center-align">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">login</button> 
                          </p>
                      </div>
                  </div>
              </form>
          </div>
     
                  
      <script id="welcome-template" type="text/x-handlebars-template">
           <h2>Welcome, {{email}}</h2>
           <button class="btn btn-large waves-efect waves-light add-blog">Add a new task</button>
              <button class="btn btn-large waves-efect waves-light logout">Logout</button> 
      </script>
      
      <script id="add-blog-template" type="text/x-handlebars-template">
            <h2>Add a new task</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title"></label>
                  </div>
              </div>
              
              <div class="row">
                  <div class="input-field col s12">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label for="content"></label>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
      </script>
      
         </div><footer class="page-footer blue-grey darken-2 black-text">
               <div class="container">
                   <p><a href="#">Back to the top of the page</a></p>
               </div>
              <div class="footer-copyright">
                  <div class="container">
                      @2016 sharif 
                  </div>
             </div>
          </footer>
           
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascipt" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/ToDo list.js"></script>
      
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/sign in.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
    </body>
  </html>